.is-size-special {
    font-size: 5rem;
  }
  .has-text-green {
    color: #00DD64;
  }
  .has-text-blue {
    color: #000B2C;
  }
  .background-image {
    background-image: linear-gradient(to bottom, rgba(80, 80, 80, 0.3)  0%,rgba(82, 82, 82, 0.3) 100%), url("https://images.unsplash.com/photo-1489641024260-20e5cb3ee4aa");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .has-video {
    position: relative;
    padding-bottom: 56.25%; /*16:9*/
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
  }
 
  .has-video iframe,
  .has-video object,
  .has-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


.is-center {
    display: flex;
    align-items: center;
    justify-content: center;
}